@use 'breakpoints' as *;

body {
  padding: 71px 24px;

  @include breakpoint-up(medium) {
    padding: 0;
    align-items: center;
  }
}

.testimonial-grid {
  display: grid;
  gap: 24px;
  max-width: 1110px;
  max-height: 572;

  @include breakpoint-up(medium) {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-template-areas:
      'one   one  two  five '
      'three four four five';

    .testimonial:nth-child(1) {
      grid-area: one;
    }
    .testimonial:nth-child(2) {
      grid-area: two;
    }
    .testimonial:nth-child(3) {
      grid-area: three;
    }
    .testimonial:nth-child(4) {
      grid-area: four;
    }
    .testimonial:nth-child(5) {
      grid-area: five;
    }
  }
}

.testimonial {
  border-radius: 8px;
  padding: 26px 32px 32px 32px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);

  &__avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 17px;
  }

  &__name {
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    margin-bottom: 4px;
  }

  &__verified {
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    opacity: 0.5;
  }

  & > p:first-of-type {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 18px 0 40px 0;
  }

  & > p:last-of-type {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
  }
}
